<div class='post col-md-8'>
  <span class="name"><%= post.username %></span>
  <%= image_tag(post.image_url) %>
  <span class='likes'>
          <%= post.likes %>
      </span>
  <span class='like-icon glyphicon glyphicon-apple' data-id ></span>
  <p><%= post.caption %></p>
  <hr>
</div>